html,
body {
  margin: 0;
}

img {
  width: 35vh;
}

.logo {
  margin-bottom: 2rem;
}

.break-text {
  margin-top: 2rem;
  font-family: iciencadena;
  font-size: 7rem;
  color: white;
  -webkit-text-stroke-width: 0.5rem;
  -webkit-text-stroke-color: black;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./assets/images/background.svg');
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.bg {
  background-color: green;
  border-radius: 5vh;
  animation: loading 2s linear infinite;
}

.wrapper {
  border: 1px solid black;
  border-radius: 4rem;
  overflow: hidden;
  width: 75vw;
  height: 7vh;
}

.el {
  isolation: isolate;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 75vw;
  height: 7vh;
}
.el:after {
  content: 'Mini Game is loading';
  color: #008000;
  mix-blend-mode: difference;
}
@keyframes logo-animation {
  0% {
    margin-top: 1.5rem;
  }
  50% {
    margin-top: 4rem;
  }
  100% {
    margin-top: 1.5rem;
  }
}

#logo {
  position: absolute;
  top: 0;
  animation: logo-animation 2s linear infinite;
}

#non-logo {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: iciencadena;
  src: url(./assets/ICIELCADENA.OTF);
}

/* Progress Bar & its Animation */
.progress-bar {
  position: relative;
  border: #ccc solid 1px;
  width: 75vw;
  height: 7vh;
  line-height: 7vh;
  vertical-align: middle;
  overflow: hidden;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 4rem;
  box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.25);
}
.bar {
  position: absolute;
  top: 0;
  height: 7vh;
  overflow: hidden;
}
.bar > span {
  position: absolute;
  display: block;
  width: 75vw;
  height: 7vh;
  text-align: center;
}
.bar.positive {
  background: #fff;
  right: 0;
  width: 75vw;
  -webkit-animation: animate-positive 4s;
  animation: animate-positive 4s;
}
.bar.positive > span {
  right: 0;
  color: black;
  font-size: 4rem;
  font-family: iciencadena;
}
.bar.negative {
  position: absolute;
  background-image: linear-gradient(#00ff00, #005000);
  left: 0;
  width: 75vw;
  border-radius: 4rem;
  -webkit-animation: animate-negative 4s;
  animation: animate-negative 4s;
}
.bar.negative > span {
  left: 0;
  color: white;
  font-size: 4rem;
  font-family: iciencadena;
  -webkit-text-stroke-width: 0.3rem;
  -webkit-text-stroke-color: black;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 100%;
  }
}
@keyframes animate-positive {
  0% {
    width: 100%;
  }
}
@-webkit-keyframes animate-negative {
  0% {
    width: 0%;
  }
}
@keyframes animate-negative {
  0% {
    width: 0%;
  }
}

#tutorial_audio {
  display: none;
}

#ingredient_audio {
  display: none;
}

/* Game Play Section */

#scene2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./assets/images/Restaurant.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bannerContainer {
  flex: 1;
}

#table-wrapper {
  width: 100vw;
  flex: 3;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#table {
  position: absolute;
  width: 100vw;

}

#plate {
  margin-top: 5vh;
  width: 40vw;
  z-index: 1;
  position: absolute;
}

@keyframes tutorial {
  0% {
    margin-left: 78vw;
  }
  100% {
    margin-top: 15vh;
    margin-left: 15vw;
  }
}

.hand {
  z-index: 1;
  height: 10vh;
  margin-left: 75vw;
  animation: tutorial 3s ease-in-out infinite;
}

.dough {
  display: block;
  position: absolute;
  z-index: 1;
  height: fit-content;
  margin-top: 5vh;
}

.ingredient {
  display: none;
  position: absolute;
  height: fit-content;
  margin-top: 4vh;
}

.ingredient-add {
  display: block;
}

.sause {
  z-index: 2;
}

.cheese {
  z-index: 3;
}

.bacon {
  z-index: 4;
}

.capsicum {
  z-index: 5;
}

.mushroom {
  z-index: 6;
}

#banner {
  width: 100vw;
}

/* DOWNLOAD NOW SECTION */
#non-logo-download {
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.character-container {
  flex: 13;
  display: flex;
  align-items: flex-end;
}

.character-container > .character {
  width: 100vw;
}

#download-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./assets/images/Background_download.svg');
  background-size: cover;
}

@keyframes download_button {
  0% {
    width: 80vw;
  }
  50% {
    width: 90vw;
  }
  100% {
    width: 80vw;
  }
}

#download-now {
  position: absolute;
  animation: download_button 0.7s linear infinite;
}

#dl-button-wrapper {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#dl-link {
  display: flex;
  justify-content: center;
}

.character {
  width: 25rem;
  height: 49vh;
}