html,
body {
  margin: 0;
}

img {
  width: 35vh;
}

.logo {
  margin-bottom: 2rem;
}
/*
.mini-text {
  position: absolute;
  width: 75vw;
  height: 7vh;
  font-family: 'i Ciel Cadena';
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .front-text {
  color: #ffffff;
  z-index: 2;
}

.back-text {
  color: #000000;
  z-index: 1;
} */

.break-text {
  margin-top: 2rem;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./assets/images/background.svg');
}

/* #myProgress {
  width: 75vw;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5vh;
  height: 7vh;
} */
/*
#myBar {
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  background-color: #4caf50;
  border-radius: 5vh;
} */

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.bg {
  background-color: green;
  border-radius: 5vh;
  animation: loading 2s linear infinite;
}

.wrapper {
  border: 1px solid black;
  border-radius: 4rem;
  overflow: hidden;
  width: 75vw;
  height: 7vh;
}

.el {
  isolation: isolate;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 75vw;
  height: 7vh;
}
.el:after {
  content: 'Mini Game is loading';
  color: #008000;
  mix-blend-mode: difference;
}
@keyframes logo-animation {
  0% {
    margin-top: 1.5rem;
  }
  50% {
    margin-top: 2rem;
  }
  100% {
    margin-top: 1.5rem;
  }
}

#logo {
  position: absolute;
  top: 0;
  animation: logo-animation 2s linear infinite;
}

#non-logo {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  position: relative;
  border: #ccc solid 1px;
  width: 75vw;
  height: 7vh;
  line-height: 7vh;
  vertical-align: middle;
  overflow: hidden;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 4rem;
  box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.25);
}
.bar {
  position: absolute;
  top: 0;
  height: 7vh;
  overflow: hidden;
}
.bar > span {
  position: absolute;
  display: block;
  width: 75vw;
  height: 7vh;
  text-align: center;
}
.bar.positive {
  background: #fff;
  right: 0;
  width: 75vw;
  -webkit-animation: animate-positive 4s;
  animation: animate-positive 4s;
}
.bar.positive > span {
  right: 0;
  color: black;
}

.bar.negative {
  position: absolute;
  background: green;
  left: 0;
  width: 75vw;
  border-radius: 4rem;
  -webkit-animation: animate-negative 4s;
  animation: animate-negative 4s;
}
.bar.negative > span {
  left: 0;
  color: white;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 100%;
  }
}
@keyframes animate-positive {
  0% {
    width: 100%;
  }
}
@-webkit-keyframes animate-negative {
  0% {
    width: 0%;
  }
}
@keyframes animate-negative {
  0% {
    width: 0%;
  }
}
