body {
  background: url('./assets/images/background.svg');
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.bg {
  background-color: green;
  border-radius: 5vh;
  border: 1px solid black;
          animation: loading 2s linear infinite;
}

.el {
  width: 500px;
}
.el:after {
  padding-left: 20px;
  content: "Mini Game is loading";
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 10px 20px;
  color: #008000;
  mix-blend-mode: difference;
}

html {
  height: 100%;
  background-color: white;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}